body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calc-container {
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.screen {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 50%; /* Обновленное свойство для круглых кнопок */
}

.button {
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%; /* Обновленное свойство для круглых кнопок */
    cursor: pointer;
    transition: background-color 0.2s;
}

.operation {
    background-color: #f9a825;
}

.digit {
    background-color: #455a64;
    color: #fff;
}

.result {
    background-color: #4caf50;
    color: #fff;
}

.clear {
    background-color: #e57373;
}

/* Эффект нажатия */
.button:active {
    background-color: #ccc;
}
